// helper classes
.uppercase {
  text-transform: uppercase;
}

.title-case {
  text-transform: title-case;
}

.roboto-bold {
  @extend %roboto-bold;
}

.roboto-regular {
  @extend %roboto-regular;
}

.roboto-medium {
  @extend %roboto-medium;
}

// scrollbar styling
.scroll {
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 10px;  /* for vertical scrollbars */
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
  }
}

.hidden {
  display: none;
  visibility: hidden;
}

.hidden-sneaky {
  opacity: 0;
  z-index: -9999;
}
