// Colors (in addition to colors in skeleton/base/variables)
//––––––––––––––––––––––––––––––––––––––––––––––––––

// color values for crash point data
$yellow-orange: #FECC5C !default;
$orange: #FD8D3C !default;
$orange-red: #F03B20 !default;
$red: #BD0026 !default;

// possible UI color values
$marine: #105b63 !default;
$marine-light: lighten($marine, 10) !default;

$off-white: #FFFAD5 !default;
$medium-grey: lighten($dark-grey, 50) !default;
$ui-grey: rgba(#4d4d4d, 0.8) !default;
$transparent: rgba(0,0,0,0) !default;

$btn-hover: lighten($yellow-orange, 10) !default;
$btn-active: $yellow-orange !default;
$btn-bg: $off-white !default;

$hr-border: $off-white !default;
$border-radius: 4px !default;

// Typography
//––––––––––––––––––––––––––––––––––––––––––––––––––
$roboto: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

%roboto-regular {
  font-family: $roboto;
  font-weight: 400;
}

%roboto-medium {
  font-family: $roboto;
  font-weight: 500;
}

%roboto-bold {
  font-family: $roboto;
  font-weight: 700;
}

// Main Component Dimensions
//––––––––––––––––––––––––––––––––––––––––––––––––––
$app-header-height: 80px !default;
$app-header-width: 450px !default;
$zoom-controls-height: 70px !default;
$zoom-controls-width: 30px !default;
$app-stats-legend-height: 120px !default;
$app-stats-legend-width: calc(100vw - 300px) !default;
$app-options-filters-height: 100% !default;
$app-options-filters-width: 300px !default;
$button-height: 25px !default;
$options-footer-height: 27px;

$stats-header-height: 30px !default;
$stats-content-height: calc(100% - 30px) !default;

// margins
$margin-25: 25px !default;
$margin-10: 10px !default;

// padding
$padding-25: 25px !default;
$padding-10: 10px !default;
$padding-5: 5px !default;
