.app-header {
  width: $app-header-width;
  height: $app-header-height;
  position: absolute;
  top: $margin-10;
  left: $margin-25;
  z-index: 1;
  color: rgba($marine-light, 0.7);

  .header-title,
  .header-about {
    margin: 0;
    padding: 0;
  }

  .header-title {
    text-transform: uppercase;
  }

  .header-about {
    @extend .roboto-bold;
  }

  a {
    cursor: pointer;
    color: rgba($marine-light, 0.7);

    &:hover {
      background-color: $btn-hover;
    }
  }
}
