.app-header {
  width: $app-header-width;
  height: $app-header-height;
  position: absolute;
  top: $margin-10;
  left: $margin-25;
  z-index: 1;

  .header-title,
  .header-about {
    margin: 0;
    padding: 0;
  }
}
