.app-stats-legend {
  height: $app-stats-legend-height;
  width: $app-stats-legend-width;

  .stats-title {
    @extend .roboto-medium;
    text-transform: uppercase;
    font-size: 1.6rem;
    padding-bottom: 0;
  }

  .stats-date-range,
  .stats-total-crash-counter {
    width: 50%;
    float: left;
    display: inline-block;
  }

  .stats-total-crash-counter h6 {
    @extend .roboto-bold;
  }

}
