.app-header {
  width: $app-header-width;
  height: $app-header-height;
  position: absolute;
  top: $margin-10;
  left: $margin-25;
  z-index: 1;
  color: rgba($marine-light, 0.7);

  .header-logo-title {
    display: inline-block;
  }

  .logo-checkpeds,
  .header-title,
  .header-about {
    margin: 0;
    padding: 0;
  }

  .logo-chekpeds {
    display: inline-block;
    width: 33px;
    height: 45px;

    a, a:hover {
      background-color: none;
      border: none;
    }

    img {
      width: 33px;
      height: 45px;
    }
  }

  .header-title {
    display: inline-block;
    font-size: 3rem;
    text-transform: uppercase;
    margin-left: $margin-5;

    @media screen and (#{$bp-narrow-width}) {
      font-size: 4rem;
    }
  }

  .header-about {
    @extend .roboto-bold;
    display: inline-block;
    position: relative;
    bottom: 10px;

    a {
      cursor: pointer;
      color: rgba($marine-light, 0.7);

      &:hover {
        color: $marine;
      }
    }
  }

}
