.download-data {
  display: table;
  width: 100%;
  padding-bottom: $padding-10;
  margin-left: $margin-10;

  .filter-options-button,
  .data-last-updated {
    display: table-cell;
    vertical-align: top;
  }

  .data-last-updated {
    font-size: 1.1rem;
    padding-left: $padding-25;
  }
}
