.filter-options-button {
  height: 25px;
  line-height: 25px;
  padding: 0 10px;
  text-align: left;
  text-transform: none;

  &.wide {
    width: 145px;
  }

  &.narrow {
    width: 90px;
  }

  &.auto {
    width: auto;
  }

  &.link {
    border: none;
    border-radius: 0;
  }
}
