.filter-by-boundary {
  button {
    @extend .filter-options-button;

    &.cancel-drawing,
    &.draw-again {
      margin-left: $margin-10;
    }

    &.deselect-identifier {
      height: 20px;
      padding: 0 5px;
      margin: 0 0 0 $margin-10;
      font-size: 11px;
      line-height: 11px;
    }
  }

  p.identifier-label {
    display: inline-block;
    margin-left: $margin-10;
    font-size: 11px;
  }
}

.filter-by-boundary-message {
  font-size: 1.2rem;
  font-weight: 500;

  margin-bottom: $margin-10;
  margin-left: $margin-10;
}
