.leaflet-map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;

  #map {
    height: 100%;
  }

  .cartodb-tooltip {
    width: auto;
  }

  .cartodb-tooltip-content-wrapper {
    @extend %roboto-regular;
    width: auto;
    padding: 10px;

    span {
      @extend %roboto-bold;
    }
  }
}
