// For use with node_modules/ReactModal Component
.ReactModalPortal {
  position: relative;

  .Modal {
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate(-25%, -25%);
    background-color: #fff;
    border: 1px solid $medium-grey;
    border-radius: $border-radius;
    padding: $padding-25;
    outline: none;
  }

  .Modal {
    h1, h2, h3, h4, h5, h6, p {
      color: $marine;
    }

    a {
      text-decoration: none;
    }
  }

  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.75);
  }

  .btn-modal-close {
    height: 25px;
    width: 25px;
    float: right;
    margin-top: -38px;
    margin-right: -38px;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 50%;
    background: $medium-grey;
    font-size: 2rem;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 0;
    z-index: 6;

    &:before {
      content: "×";
    }
  }

  .modal-about,
  .modal-copyright,
  .modal-disclaimer,
  .modal-download-data,
  .modal-share-fb,
  .modal-share-twitter,
  .modal-share-url {
    max-width: 700px;
  }

  .modal-about {
    height: 80vh;
    max-height: 80vh;
    overflow-y: auto;

    p {
      padding-right: $padding-25;
    }
  }

  .modal-download-data {

  }

  .download-data-btns {
    margin-top: $margin-25;
  }

  .dl-data-btn {
    @extend .filter-options-button;
    background-color: #fff;
    border: 1px solid $medium-grey;
    color: $marine-light;

    &:hover {
      color: $marine;
      background-color: #eee;
      border: 1px solid #333;
    }

    &:not(:first-of-type) {
      margin-left: $margin-10;
    }
  }

  .modal-share-url {
    input {
      width: 100%;
      padding: 0 5px;
      font-size: 12px;
      color: hsl(0, 0%, 40%);
      height: 22px;
      margin-top: 10px;
    }

    button {
      @extend .dl-data-btn;
    }

    .copied {
      margin-left: $margin-25;
    }
  }
}
