.options-container {

  .options-container-header {
    cursor: pointer;
  }

  .options-container-title {
    display: inline-block;
  }

  .options-container-collapse-icon {
    display: inline-block;
    float: right;
  }
}
