.options-container {

  &.opened {
    padding-bottom: $padding-10;
  }

  &.no-padding-bottom {
    padding-bottom: 0;
  }

  .options-container-header {
    padding-top: $padding-10;
    cursor: default;
    text-transform: uppercase;
  }

  .collapsable .options-container-header {
    cursor: pointer;
  }

  .options-container-title {
    @extend .roboto-medium;
    display: inline-block;
  }

  .options-container-collapse-icon {
    display: inline-block;
    float: right;
    margin-right: 10px;
  }

  .options-container-collapsable.scroll {
    overflow-y: auto !important;
    overflow-x: hidden;
  }
}
