.options-container {

  &.opened {
    padding-bottom: $padding-10;
  }

  .options-container-header {
    padding-top: $padding-10;
    cursor: pointer;
  }

  .options-container-title {
    display: inline-block;
  }

  .options-container-collapse-icon {
    display: inline-block;
    float: right;
  }
}
