.Search {
  width: 300px;
  position: absolute;
  top: $margin-5 + $app-header-height - 10;
  left: $margin-25 + $zoom-controls-width + $padding-10 - 10;
  z-index: 5;
  padding-right: 10px;
  background-color: transparent;
}
