.SearchResults {
  width: 100%;
  position: relative;
  padding-right: 10px;

  border: 1px solid $marine-light;

  p {
    margin-bottom: 10px;
  }

  button {
    &:last-child {
      margin-left: 10px;
    }
  }
}
