.small-device-message {
  @media screen and (#{$bp-larger-than-desktop}) and (orientation: portrait) {
    display: none;
  }

  display: block;
  position: relative;
  width: 100vw;
  height: 100vh;

  .centered {
    height: 100%;
    position: relative;
    margin: 0 auto;
    padding: $padding-25;
    overflow-y: auto;

    h1, h2, h3, h4, h5, h6, p {
      color: $marine;
    }
  }

  .title, h2 {
    text-align: center;
  }

  .title {
    @extend %roboto-medium;
  }

  h2 {
    margin: 25px 0;
  }

  a {
    text-decoration: none;
  }

  p {
    padding-bottom: $padding-25;
  }
}
