.small-device-message {
  @media (#{$bp-larger-than-phablet}) {
    display: none;
  }

  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  color: $marine;

  .centered {
    position: relative;
    margin: 0 auto;
    padding: $padding-25;
  }
}
