.contributing-factors-list {
  height: calc(100% - #{$padding-5});
  border: 1px solid $hr-border;

  ul, li {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  li, p {
    width: 100%;
  }

  p {
    font-size: 1.4rem;
    padding-left: $padding-5;
  }

  .factor-count,
  .factor-type {
    display: inline-block;
  }

  .factor-count {
    width: 20%;
  }

  .factor-type {
    width: 80%;
  }
}
