.legend-container {
  position: relative;
  padding-left: $padding-10;
  width: calc(100% - $padding-10);
  height: 100%;

  .legend-crash-types,
  .legend-crash-count {
    display: inline-block;
    float: left;
    height: 100%;
    width: 50%;
  }

  .legend-crash-count {
    width: 40%;
    position: absolute;
    top: -$stats-header-height;
    right: 0;

    li {
      margin-left: 0;
    }
  }

  ul, li {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  li {
    width: 100%;
    margin-left: 5px;
  }

  p {
    display: inline;
    font-size: 1.2rem;
    margin-left: 5px;
  }

  // TO DO: adjust the size of dots to match size of map dots
  span {
    width: 8px;
    height: 8px;
    display: inline-block;
    border: 0.7px solid $off-white;
    border-radius: 50%;
    background: $transparent;

    &.type-fatality {
      background: $orange-red;
    }

    &.type-injury {
      background: $orange;
    }

    &.type-no-inj-fat {
      background: $yellow-orange;
    }
  }

  .count-size-1 {
    margin-top: -6px;

    span {
      margin-left: 5px;
    }
    p {
      padding-left: 7.5px;
    }
  }

  .count-size-2 {
    span {
      width: 14px;
      height: 14px;
      margin-left: 1.5px;
    }
    p {
      padding-left: 4.8px;
    }
  }

  .count-size-3 {
    span {
      width: 17px;
      height: 17px;
      margin-left: 0;
    }
    p {
      padding-left: 4px;
    }
  }

  .count-size-4 {
    span {
      width: 25px;
      height: 25px;
      margin-left: -4px;
    }
    p {
      padding-left: 1.5px;
    }
  }
}
