.contributing-factors-list {
  height: calc(100% - #{$padding-5});
  border: 1px solid $hr-border;

  ul, li {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  li {
    width: calc(100% - 10px);
    margin: 0 5px 0 5px;
    border-bottom: 0.5px solid $hr-border;

    &:last-of-type {
      border: none;
    }
  }

  p {
    padding: 2px 5px;
    height: 100%;
    font-size: 1.3rem;
  }

  .factor-count,
  .factor-type {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .factor-count {
    width: 60px;
    max-width: 60px;
    text-align: right;
  }

  .factor-type {
    max-width: calc(100% - 60px - 20px);
    padding-left: $padding-5;
    overflow-x: hidden;
  }
}
