.legend-container {
  position: relative;
  padding-left: $padding-10;
  width: calc(100% - #{$padding-10});
  height: 100%;

  .legend-crash-types,
  .legend-crash-count {
    display: inline-block;
    float: left;
    height: 100%;
    width: 50%;
  }

  .legend-crash-count {
    width: 40%;
    position: absolute;
    top: -$stats-header-height - 3px;
    right: 0;
  }

  ul, li {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  li {
    width: 100%;
    margin-left: 5px;
  }

  p {
    display: inline;
    font-size: 1.2rem;
    margin-left: 5px;
  }

  // TO DO: adjust the size of dots to match size of map dots
  span {
    width: 7px;
    height: 7px;
    display: inline-block;
    border: 0.7px solid $off-white;
    border-radius: 50%;
    background: $transparent;

    &.type-fatality {
      background: $orange-red;
    }

    &.type-injury {
      background: $orange;
    }

    &.type-no-inj-fat {
      background: $yellow-orange;
    }
  }

  circle {
    fill: rgba(0,0,0,0);
    stroke: $off-white;
    stroke-width: 1px;
  }

  text {
    @extend %roboto-regular;
    fill: $off-white;
    font-size: 1.2rem;
  }
}
